<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conditions</title>
</head>
<body>
    <center>
        <h1>if </h1>
        {% if a > b and a > c and a > d and a > e %}
            <h1>if block </h1>
            <h1>{{a}}</h1>
            <h1>a is highest</h1>
        {% elif b > c and b > d and b > e %}
            <h1>elif block</h1>
            <h1> {{b}}</h1>
            <h1>b is highest</h1>
        {% elif c > d and c > e %}    
            <h1>elif block</h1>
            <h1>{{c}}</h1>
            <h1>c is highest</h1>
        {% elif d > e %}
            <h1>elif block</h1>
            <h1>{{d}}</h1>
            <h1>d is highest</h1>
        {% else %}
            <h1>else block</h1>
            <h1>{{e}}</h1>
            <h1>e is th highest</h1>
        {% endif %}

    </center>
   
    
</body>
</html>